/* MIU
   Term 1306
   Banchop Ben Kangdouangnhot
   Project 1
 */
   
   
body {
	background: url("images/sky.jpeg");
	margin: 0;
	padding: 0;

}

#imagelist {
	font-size: 0:
	width: 255px;
	margin: 0 auto;

}

#imagelist {
	margin: 2px;
	

}